{% extends "base.html" %}
{% block content %}
{% if object %}
    <div class="row">
        {% if object.adventure %}
            <div class="col-12 col-lg-2 mx-auto order-12 col-md-2">
            <div class="alert alert-dark" role="alert">
                <p class="lead"><b>Your Adventure</b> : <br> {{ object.adventure }}<p><br>
            </div>
            </div>
        {% endif %}
        <div class="col-12 {% if object.adventure %}col-lg-8{% else %}col-lg-10{% endif %} mx-auto order-6 col-auto">
          <div class="alert alert-danger" role="alert">
            <p class="lead"><b>Your day</b> : <br> {{ object.your_day }}</p>
          </div>
        </div>
        <div class="col-12 col-lg-2 order-1">
          <div class="alert alert-primary" role="alert">
              <p class="lead"><b>By {{ object.user }} on {{ object.timestamp }}</b></p>
          </div>
        </div>
      </div>
{% else %}
      <div class="jumbotron">
        <h1>Please write some days!</h1>
      </div>
          
{% endif %}
      
{% endblock content %}


