{% extends "base.html" %}
{% block content %}
      <div class="row">
        {% for obj in object %}
          <div class="alert alert-primary mx-auto" role="alert">
            <div class="col-12 col-lg-10 order-1">
            <p class="lead d-inline">{{ forloop.counter }} --> <a href="{{ obj.get_absolute_url }}" class="lead mb-4">{{ obj.timestamp|date:"d, D: M Y" }}</a></p>
            <div class="text-right float-right"><a href="{% url 'delete' pk=obj.pk %}" class="alert-link btn btn-danger mr-2">Delete</a><a href="{% url 'update' pk=obj.pk %}" class="alert-link btn btn-success">Edit</a></div>
          </div>
        </div>
        {% endfor %}
      </div>



{% endblock content %}
