{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<!--     <div class='row'>
      <div class='col'> -->
{% if request.user.is_authenticated %}
      <h1>Write your day :)</h1>
      <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class="btn btn-success" value="Submit">
    </form>
  {% else %}
      <div class="jumbotron">
        <h1>
          Please login or register to write your day!
        </h1>
      </div>
{% endif %}
<!--       </div>
    </div> -->

{% endblock content %}